<div class="container">
  <h1>Edit Category</h1>
  <form [formGroup]="bookForm" #form="ngForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" [(ngModel)]="name" />
    </mat-form-field>

    <mat-radio-group
      aria-label="Select an option"
      formControlName="active"
      [(ngModel)]="active"
    >
      <mat-radio-button value="true">Available</mat-radio-button>
      <mat-radio-button value="false">Not Available</mat-radio-button>
    </mat-radio-group>

    <button type="button" mat-raised-button (click)="fileInput.click()">
      Choose File
    </button>
    <input
      hidden
      (change)="onFileSelected($event)"
      #fileInput
      type="file"
      id="file"
      formControlName="img"
    />

    <button mat-button color="accent" class="mt-5" (click)="submit()">
      Add
    </button>
    <a mat-raised-button color="warn" (click)="close()">Close</a>
  </form>
</div>
